# virtual environment
venv/
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files 
data/

# IDE files
.vs/
.vscode/
.DS_Store

# Ignore ML models
models/*.pkl# Large data/models
data/Bronze/2019-Oct.csv
data/Silver/2019-Oct-Refined.parquet
data/Silver/2019-Oct_chunk.parquet
data/archive/2019-Nov.csv
data/archive/2019-Oct.csv
data/sample.parquet
models/churn_rf_v1.pkl

# Removed large gold datasets
/data/Gold/churn_model_dataset.parquet
/data/Gold/rfm_report_2026-01-26.parquet
/data/Gold/rfm_report_2026-01-28.parquet

